
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: url("https://assets.kpmg/content/dam/kpmg/ca/images/2019/12/connected-enterprise-white-dots-blue-triangles.jpg/jcr:content/renditions/cq5dam.web.640.490.jpg");
    background-size: cover;
    background-position: center;
    font-family: monospace;
    color: white; }
  
.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0; }

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
     min-height: 200px; }

 .navbar {
    background-color: #0c0641;
    color: white;
    display: inline-block;
    list-style-type: none;
    text-align: left;
    
   }
.nav li {
    display: inline;
  }
h1 {
  font-size: 35px;
  text-align: left;
}
h1, h2, h3 {
    font-family: monospace;
  }
  .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.carousel {
    border: solid #5637DD;
}

body {
  background-color: #CEC8FF;
}
.card { 
  background-color: #dedaf7;
}
.blockquote {
  background-color: #dedaf7;
}